<footer class="footer">
  <div class="footer__container">
    <div class="footer__row-top">
      <div class="footer__main main-footer">
        <div class="main-footer__top">
          <a href="#" class="main-footer__logo">
            <img src="@img/logo-footer.svg" alt="logo footer">
          </a>
          <ul class="main-footer__social footer-social">
            <li class="footer-social__item"><a href="#!" class="footer-social__link" target="_blank"
                aria-label="whattsap">
                <img src="@img/icons/Whatsapp.svg" alt="" aria-hidden="true">
              </a></li>
            <li class="footer-social__item"><a href="#!" class="footer-social__link" target="_blank"
                aria-label="messanger">
                <img src="@img/icons/Messanger.svg" alt="" aria-hidden="true">
              </a></li>
            <li class="footer-social__item"><a href="#!" class="footer-social__link" target="_blank"
                aria-label="facebook">
                <img src="@img/icons/Facebook.svg" alt="" aria-hidden="true">
              </a></li>
            <li class="footer-social__item"><a href="#!" class="footer-social__link" target="_blank"
                aria-label="twitter">
                <img src="@img/icons/Twitter.svg" alt="" aria-hidden="true">
              </a></li>
            <li class="footer-social__item"><a href="#!" class="footer-social__link" target="_blank"
                aria-label="youtube">
                <img src="@img/icons/YouTube.svg" alt="" aria-hidden="true">
              </a></li>
          </ul>
        </div>
        <p class="main-footer__text">
          Createx Construction Bureau has been successfully operating in the USA construction
          market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set
          the highest standards for construction sphere.
        </p>
      </div>
      <form class="footer__form form-footer">
        <h2 class="form-footer__title">Let’s stay in touch</h2>
        <div class="form-footer__row">
          <label class="form-footer__field form-field">
            <input class="form-footer__input form-field__input" type="email" name="email"
              placeholder="Your email address" required>
          </label>
          <button class="form-footer__btn btn btn_fill btn_small" type="submit">subscribe</button>
        </div>
        <p class="form-footer__descr">*Subscribe to our newsletter to receive communications and early updates from
          Createx Construction Bureau.</p>
      </form>
    </div>
    <div class="footer__row-mid">
      <address class="footer__head-office footer-list">
        <h3 class=" footer-list__title">HEAD OFFICE</h3>
        <ul class="footer-list__list">
          <li class="footer-list__item">
            <span class=" footer-list__name">Address:</span>
            <a href="#!" class="footer-list__link">8502 Preston
              Rd.
              Inglewood, New
              York</a>
          </li>
          <li class="footer-list__item">
            <span class=" footer-list__name">Call:</span>
            <a href="tel:4055550128" class=" footer-list__link">(405) 555-0128</a>
          </li>
          <li class="footer-list__item">
            <span class=" footer-list__name">Email:</span>
            <a href="mailto:hello@createx.com" class=" footer-list__link">hello@createx.com</a>
          </li>
        </ul>
      </address>
      <nav class="footer__nav footer-list" aria-label="second navigation">
        <h3 class=" footer-list__title">WHO WE ARE</h3>
        <ul class="footer-list__list">
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">About
              Us</a>
          </li>
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">Available Positions</a>
          </li>
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer__our-experience footer-list">
        <h3 class=" footer-list__title">OUR EXPERIENCE</h3>
        <ul class="footer-list__list">
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">Services</a>
          </li>
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">Work</a>
          </li>
          <li class=" footer-list__item"><a href="#!" class=" footer-list__link">News</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copy">© All rights reserved. Made with <img src="@img/icons/heart.svg" aria-hidden="true" alt="">
      by Createx Studio
    </p>
  </div>
</footer>