<section class="contacts-section">
  <div class="contacts-section__container">
    <div class="contacts-section__content">
      <h2 class="contacts-section__title title">A quick way to discuss details</h2>
      <form action="#!" class="contacts-section__form form-contacts-section">
        <label class="form-contacts-section__field form-field">
          <span class="form-field__caption">Name*</span>
          <input class="form-field__input form-field__input_grey" type="text" name="name" required
            placeholder="Your name">
        </label>
        <label class="form-contacts-section__field form-field">
          <span class="form-field__caption">Phone*</span>
          <input class="form-field__input form-field__input_grey" type="tel" name="phone" required
            placeholder="Your phone number">
        </label>
        <label class="form-contacts-section__field form-field">
          <span class="form-field__caption">Email</span>
          <input class="form-field__input form-field__input_grey" type="email" name="email"
            placeholder="Your working email">
        </label>
        <label class="form-contacts-section__field form-field">
          <span class="form-field__caption">Name*</span>
          <textarea class="form-field__input form-field__input_grey form-contacts-section__textarea" name="message"
            required placeholder="Your message"></textarea>
        </label>
        <label class="custom-chekbox">
          <input class="custom-chekbox__input" type="checkbox">
          <span class="custom-chekbox__box"></span>
          <p class="custom-chekbox__text">I agree to receive communications from Createx Construction
            Bureau.</p>
        </label>
        <button class="form-contacts-section__btn btn btn_fill btn_regular" type="submit">send request</button>
      </form>
    </div>
  </div>
</section>