.facts {
	position: relative;
	overflow: hidden;
	padding-top: 180px;
	padding-bottom: 180px;
	background-color: $color-white;

	&::before {
		content: "";
		position: absolute;
		left: -9px;
		top: -190px;
		width: 570px;
		height: 1065px;
		background: url(../img/facts/bg.png) no-repeat center / cover;
	}

	&__title {
		margin-bottom: 60px;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		gap: 48px;
	}
}

.cercle-progress {
	&__circle {
		@include flex-all-center;
		position: relative;
		width: 148px;
		height: 148px;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__circle_clients {
		&::before {
			background: url(../img/facts/01.svg) no-repeat center / cover;
		}
	}

	&__circle_years {
		&::before {
			background: url(../img/facts/02.svg) no-repeat center / cover;
		}
	}

	&__circle_hours {
		&::before {
			background: url(../img/facts/03.svg) no-repeat center / cover;
		}
	}

	&__circle_succeeded {
		&::before {
			background: url(../img/facts/04.svg) no-repeat center / cover;
		}
	}

	&__value {
		font-weight: 700;
		font-size: 32px;
		line-height: 150%;
		color: $color-gray-900;
	}

	&__descr {
		display: block;
		text-align: center;
		margin-top: 20px;
		font-size: 14px;
		line-height: 150%;
		color: $color-gray-900;
	}
}
