<section class="partners">
  <div class="partners__container">
    <h2 class="partners__title title title_center">@@title</h2>
    <div class="partners__wrapper">
      <a href="#!" class="partners__item">
        <img src="@img/partners/01.png" alt="partner">
      </a>
      <a href="#!" class="partners__item">
        <img src="@img/partners/02.png" alt="partner">
      </a>
      <a href="#!" class="partners__item">
        <img src="@img/partners/03.png" alt="partner">
      </a>
      <a href="#!" class="partners__item">
        <img src="@img/partners/04.png" alt="partner">
      </a>
      <a href="#!" class="partners__item">
        <img src="@img/partners/05.png" alt="partner">
      </a>
      <a href="#!" class="partners__item">
        <img src="@img/partners/06.png" alt="partner">
      </a>
    </div>
  </div>
</section>