.partners {
	margin-top: 120px;
	padding-top: 80px;
	background-color: $color-grey-bg;

	&__title {
		margin-bottom: 60px;
	}

	&__wrapper {
		display: flex;
		column-gap: 102px;
		row-gap: 30px;
	}

	&__item {
		width: 120px;
		height: 64px;
	}
}
