.our-benefits {
	padding-top: 80px;
	padding-bottom: 126px;
	margin-top: 120px;
	background-color: $color-gray-900;

	&__title {
		color: $color-white;
	}

	&__descr {
	}

	&__list {
		.mission-list__title {
			color: $color-white;
		}
	}

	&__btn {
		position: relative;
		top: 150px;
		display: block;
		max-width: 390px;
		margin: 0 auto;
		text-align: center;
	}
}
